/**
 * Cleaned up, compressed and included in the head 
 * section using style tag.
 */

/*  */
#outlook a {
	padding: 0;
}

/*  */
body {
	margin: 0;
	padding: 0;
	width: 100% !important;
	max-width: 100% !important;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

/*  */
.ExternalClass {
	width: 100%;
}
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
	line-height: 100%;
}

/*  */
table td {
	border-collapse: collapse;
}